<head>
    <title>Home</title>
</head>
<div id="searchArea">
    <form action="/artist-search" method="get">
        <input type="text" name="artistName">
        <br>
        <button>Search for an Artist</button>
    </form>
</div>